@using YiJingFramework.PrimitiveTypes
@using System.Diagnostics;
@using BlazorApp.Services;

@inject ZhouyiStoreProvider ZhouyiStoreProvider

@if (hexagram is null)
{
    @if (Painting is null)
    {
        <p>未能解析参数，请检查网址是否正确。</p>
    }
    else
    {
        <p>正在加载中……</p>
    }
}
else
{
    <p>
        @hexagram.Text <br />
        @hexagram.Xiang <br />
        @hexagram.Tuan <br />
    </p>

    <p>
        @foreach (var line in hexagram.EnumerateLines())
        {
            if (line.LineText is not null)
            {
                @line.LineText <br />
                @line.Xiang <br />
            }
        }
    </p>
}
